<!DOCTYPE html>
<html lang="en">

<head>
    {{!-- COMPLILED AND MINIFIED CSS --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    {{!-- MATERIALIZE ICONS --}}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./public/style.css">
    {{!-- GOOGLE FONT --}}
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    {{!-- TAB ICON --}}
    <link rel="shortcut icon" href="assets/img/news-icon.png" />
    <title>Mongo NewsScraper</title>
</head>

<body>
    {{> nav/navbar}}
    <main class="articleContainer">
        <div class="container">
            {{{ body }}}
        </div>
    </main>
    {{> footer}}
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
</body>
<html>