<nav>
    <div class="nav-wrapper topnav page-footer blue lighten-3 accent-2">
        <a href="/" class="brand-logo center">Mongo NewsScraper</a>
        <ul class="right" id="nav-mobile">
            <li><a class="grey-text text-lighten-3" href="https://github.com/sammysosa23/FriendFinder">GitHub Repo</a>
            </li>
        </ul>
    </div>
</nav>